body {
    overflow: hidden; /* scrolling is handled by app-shell, this causes issues with "double" scroll */
    /*background-color: var(--colors-grey050); */
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: var(--sidebar-width, 280px) 5px minmax(0, 1fr); /* Include resizer column */
    grid-template-areas: "sidebar resizer content";
    padding-right: 10px;
}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--colors-grey400);
    height: 100%;
    overflow-y: auto;
}

.resizer {
    grid-area: resizer;
    cursor: col-resize;
    background-color: #ccc;
    width: 2px;
    height: 100%;
    z-index: 10;
}

.content {
    grid-area: content;
    background-color: inherit;
    padding: 5px;
}


